*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(137, 150, 161);
    
}
a{
    text-decoration: none;
}
h3{
    font-weight: 300;
    line-height: 1.4;
}
/* /////////////////////////////////////////////////////////////////////// */
.fixedheader{
    background-color: rgb(38, 27, 48);
    color: white;
    height: 100px;
    width: 100%;
    position: sticky;
    z-index: 9999;
    width: 100%;
    top: 0px;
}
.About{
    height: 1500px;
    background-color: black;
    color: white;
    display: flex;
    align-items: flex-start;
    font-size:  26pt;
}
#profilepic{
    height: 100%;
    width: 50%;
    object-fit: scale-down;
}
#aboutme{
    margin-left: 200px ;
    margin-right: 200px ;
margin-top: 550px;
}
.Projects{
    background-color: aliceblue;
}

#projectsimg1{
    width: 50%;
}
#skillslogo{
    height: 5%;
    width: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}