*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    
}
body{
    background-color: rgb(137, 150, 161);
   
}
a{
    text-decoration: none;
}

/* /////////////////////////////////////////////////////////////////////// */
.fixedheader{
    background-color: rgb(38, 27, 48);
    color: white;
    height: 100px;
    width: 100%;
    position: sticky;
    z-index: 9999;
    width: 100%;
    top: 0px;
}
.hometag{
    font-size: 30pt;
}

.About{
    
    height: 1500px;
    background-color: black;
    color: white;
    font-size:  26pt;

}
#profilepic{
    max-width: 50%;
    max-height: 80%;
}
#aboutme{
display: flex;
justify-content: center;
}
.Projects{
    background-color: aliceblue;
    font-size: 26pt;
}

#projectsimg1{
max-width: 50%;

}
.Projects{
    height: 2000px;
}
.Skills{
    height: 2000px;
    background-color: black;  
}
#skills{
    margin-top: 1800px;
    margin-right: 100px;
    display: flex;
    justify-content: flex-end;
    color: white;
    font-size: 26pt; 
}
#skillslogo{
    height: 5%;
    width: 5%;
    display: flex;
    
    
}
#skillsh3{
    color:white;
    font-size: 35pt;;
}
.Contact{
    height: 2000px;
    background-color: white;
    font-size: 26pt;
}